CMakeCache.txt
CMakeFiles/
.vscode
build
compile_commands.json
.DS_Store
/.vs/O2Physics/FileContentIndex
/.vs/O2Physics/v16
/.vs/O2Physics/v17
/.vs/O2Physics/project-colors.json
/.vs/CMake Overview
/.vs/cmake.db
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/CMakeWorkspaceSettings.json
